.url-container {
    display: flex;
}
#viewing-url {
    flex-grow: 1;
    line-height: 2.5;
    padding: 0 8px;
    border: 2px dashed #2c2c2c;
    cursor: pointer;
}

button#copy-to-clipboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button#copy-to-clipboard svg {
    width: 30px;
}